/* app global css */

:root {
  --expired: #ffcece;
  --completed: #c8ffdb;
  --partially-completed: #fdffd8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page .q-table__container {
  max-width: 1200px;
  margin: auto;
}

.router-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.router-link:hover {
  color: #b4b4b4;
}

.router-link-active {
  color: #b4b4b4;
}

.dialog-input {
  min-width: 300px;
  margin-bottom: 30px;
}

.table-actions > * {
  margin-right: 20px;
}

.table-actions > *:last-child {
  margin-right: 0;
}

.my-icon {
  transition: all 0.3s;
  cursor: pointer;
}

.my-icon:hover {
  transform: scale(1.3);
}

.q-layout {
  height: 100%;
}

.q-page-container {
  height: 100vh;
}

.clients {
  height: 100%;
}

.client-info {
  height: 100%;
}

.q-img .q-img__image {
  width: initial;
}

.feedback {
  transition: all .3s;
  cursor: pointer !important;
}

.feedback:hover {
  background-color: #eaeaea;

}

.goal-history-completed,
.invoice-row-paid {
  background-color: var(--completed);
}

.goal-history-expired, 
.invoice-row-unpaid {
  background-color: var(--expired);
}

.invoice-row-partially-paid {
  background-color: var(--partially-completed);
}