/* app global css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page .q-table__container {
  max-width: 1200px;
  margin: auto;
}

.router-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.router-link:hover {
  color: #b4b4b4;
}

.router-link-active {
  color: #b4b4b4;
}

.dialog-input {
  min-width: 300px;
  margin-bottom: 30px;
}
